<div ng-controller="AltaCtrl">
  <div class="container">
    <h2>Registro de usuario</h1>
    <hr />
    <div class="col-md-12 form-group">
      <form role="form" name="forma" class="form form-vertical">
        <div class="form-group col-md-6" ng-class="{'has-error': forma.UsernameU.$invalid, 'has-success': forma.UsernameU.$valid}">
          <label for="inputNombre">Usuario: </label>
          <input id="inputUsername" type="text" class="form-control" placeholder="Username" name="UsernameU" ng-model="clienteUsername" required>
        </div>
        <div class="form-group col-md-6" ng-class="{'has-error': forma.passwordU.$invalid, 'has-success': forma.passwordU.$valid}">
          <label for="inputNombre">Contraseña: </label>
          <input id="inputPassword" type="password" class="form-control" placeholder="Password" name="passwordU" ng-model="clientePassoword" required>
        </div>
        <div class="form-group col-md-6" ng-class="{'has-error': forma.nombreU.$invalid, 'has-success': forma.nombreU.$valid}">
          <label for="inputNombre">Nombres: </label>
          <input id="inputNombre" type="text" class="form-control" placeholder="Nombre" name="nombreU" ng-model="clienteNombre" required>
        </div>
        <div class="form-group col-md-6" ng-class="{'has-error': forma.apellidoU.$invalid, 'has-success': forma.apellidoU.$valid}">
          <label for="inputApellido">Apellidos: </label>
          <input id="inputApellido" type="text" class="form-control" placeholder="Apellido" name="apellidoU" ng-model="clienteApellido" required>
        </div>
        <div class="form-group col-md-6" ng-class="{'has-error': forma.CedulaU.$invalid, 'has-success': forma.CedulaU.$valid}">
          <label for="inputId">Cédula: </label>
          <input id="inputId" type="text" class="form-control" placeholder="Cedula" name="CedulaU" ng-model="clienteCedula" required>
        </div>
        <div class="form-group col-md-6" ng-class="{'has-error': forma.EmailU.$invalid, 'has-success': forma.EmailU.$valid}">
          <label for="inputEmail">Email: </label>
          <input id="inputEmail" type="text" class="form-control" placeholder="Email" name="EmailU" ng-model="clienteEmail" required>
        </div>
        <div class="form-group col-md-6" ng-class="{'has-error': forma.DireccionU.$invalid, 'has-success': forma.DireccionU.$valid}">
          <label for="inputDireccion">Dirección: </label>
          <input id="inputDireccion" type="text" class="form-control" placeholder="Direccion" name="DireccionU" ng-model="clienteDireccion" required>
        </div>
        <div class="form-group col-md-6" ng-class="{'has-error': forma.TelefonoU.$invalid, 'has-success': forma.TelefonoU.$valid}">
          <label for="inputTelefono">Teléfono: </label>
          <input id="inputTelefono" type="number" class="form-control" placeholder="Telefono" name="TelefonoU" ng-model="clienteTelfono" required>
        </div>
        <button class="btn btn-success " ng-disabled="forma.$invalid" ng-click="altaClietne()">Registrar</button>
    </div>
    </form>
  </div>
</div>
